# MATLAB backup and autosave files
*~
*.asv

# MATLAB figure files
*.fig

# MATLAB workspace files
*.mat
*.mex*
*.mdl
*.slx

# MATLAB Simulink temporary files
slprj/
*_grt_rtw/

# OS-specific
.DS_Store
Thumbs.db

# Code coverage or logs
coverage/
*.log
